*{
    margin: 0;
}

body{
    font-family: 'Fredoka One', cursive;
    background-color: rgb(35, 79, 58);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(48, 149, 100);
    padding: 1em 3em;
    position: sticky;
    top: 0;
    left: 0;
}

header ul{
    display: flex;
}

header ul a{
    text-decoration: none;
    margin: 0 2em;
    color: black;
}

#section1{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    padding: 4em;
}


#svg-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20em;
    padding: 1em;
    border-radius: 1em;
    background-color: rgb(48, 149, 100);
}

#download-button{
    display: none;
}

#containerSVG{
    display: flex;
    justify-content: center;
    flex-direction: column;

}
